/* Sticky Nav Bar */

nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    background: #F8FCFF;
}

nav > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
   list-style: none;
   margin: 0 44px 0 0;
}

.logo {
    height: 20px;
    width: 80px;

    background: url(/images/Besnik.svg) transparent no-repeat center;
    background-size: contain;
}

.cart {
    height: 40px;
    width: 40px;
    background: url(/images/Group\ 1000000710.png) transparent no-repeat center;
    background-size: contain;
    cursor: pointer;
}
/* Header Triggers */

.triggers {
    margin-top: 115px;
}

.triggers > div {
    max-width: 180px;
}
