@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 8vmin;
}

h2 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 2vmin;
}

.bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}